.review-cont{
  cursor: pointer;
  padding-right: 3rem !important;
}

.review-cont1{
  background-color: #d5d4d4;
  border-radius: 10px;
}

/* CSS for showing the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal.show {
  display: block;
}

.hide-modal {
  display: none !important;
}