.card {
  transition: all 0.3s;
  border: none !important;
  /* backface-visibility: hidden; */
}

.card:hover {
  box-shadow: 2px -1px 5px 2px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  cursor: pointer;
}

.cart-btn {
  color: #fff;
  background-color: orange;
  border-radius: 10px;
  align-self: center;
  opacity: 0 !important;
  transition: display 0.1s;
}

.cart-btn:hover{
  background-color: rgb(227, 148, 3);
}

.card:hover .cart-btn {
  opacity: 1 !important;
}

.cart-btn:focus {
  background-color: #fff;
  border: solid 1px orange;
  color: orange;
}
