.cart-cont{
  margin-top: 70px;
}

.cart-row{
  border-bottom: solid 1px #ededed;
  padding-bottom: 20px;
}

.btn-val {
  border: none;
}

.product-desc{
  width: 60%
}

.product-name{
  margin-left: -4%;
}