.fluid-container {
  margin: auto;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.spinner-container {
  position: fixed; /* Ensure the spinner is always centered in the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7); /* Optional: to dim the background */
  z-index: 1000; /* Ensure it's above other elements */
}

.mat-progress-spinner-circle {
  stroke: orange!important;
}

.navibar{
 
}


.acct-name p {
  font-size: 19px;
}

.acct-btn {
  width: 100%;
  text-align: justify;
}

.acct-btn-icon {
  fill: #5b5858; /* Default icon color */
}

.acct-name-p {
  font-size: 19px;
  color: #5b5858; /* Default text color */
}

.hovered .acct-btn-icon {
  fill: orange; /* Icon color on hover */
}

.text-hovered {
  color: orange; /* Text color on hover */
}

.hovered:focus {
  color: orange
}

.account-btn:focus{
border: 1px solid orange;

}

.dropdown-menu{
  border: none!important;
  box-shadow: 2px -1px 5px 2px rgba(0, 0, 0, 0.1);
width: 200px;
}

.acct-btn-acct {
  width: 15%;
  fill: #5b5858;
  margin-bottom: 2px;
  margin-right: 10px;
}

.account-btn{
  background-color: orange;
  color: white;
}

.account-btn2:hover .acct-btn-icon {
  fill: orange; /* Hover color */
}

.account-btn2:focus .acct-btn-icon {
  fill: orange; /* Focus color */
  outline: none; /* Remove default focus outline if needed */
}

.account-btn2 {
background-color: rgb(250 250 250);
fill: orange;
color: rgb(36, 36, 36)
}

.account-btn2:hover {
background-color: rgb(250 250 250);
color: orange
}
.account-btn2:focus {
background-color: rgb(224, 224, 224);
color: orange;
border: none;
}

.btn-sign {
  background-color: orange;
  color: white;
  padding: 8px 12px;
  width: 90%;
  display: flex;
  justify-content: center;
margin: auto;
box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.1);
}

.btn-sign:focus{
  border: 1px solid orange;
}

.g-cart:active {
border: none;
}

.logo-sym {
  width: 120px;
}

.img-fluid {
  width: 76%;
}

.logo-container {
  width: 77%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1;
  top: 15px;
}

.img-logo {
  width: 32%;
}

p {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}

.search {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
  margin-right: 12px;
  margin-bottom: 8px;
}

.logo-name{
}

@media screen and (max-width: 1158px) {
 .search{
  flex: 0 0 40%;
 }
}
@media screen and (max-width: 976px) {
  .search{
    /* flex: 0 0 30%; */
    margin-right: 0;
   }
   .cart{
    margin-left: 0px;
   }
}
@media screen and (max-width: 900px) {
  .search{
    justify-content: flex-start;
    flex: 0 0 30%;
    margin-left: 20px;
   }

   .dropdown{
    margin-left: -20px;
   }
   .cart{
    margin-left: 22px !important;
   }

   .logo-name {
   }
}

@media screen and (max-width: 768px) {
  .fluid-container{
    width: 100%;
  }
  .search-icon{
    display: none;
  }

  .search{
    flex: 0 0 35%;
    margin-left: 0px;
   }

   .account-btn{
    padding: 10px 10px;
   }

   .cart{
    margin-left: 7px!important;
   }

   .cart-text{
    
   }
}

@media screen and (max-width: 650px) {

  .search{
    flex: 0 0 29%;
    margin-left: -19px;
   }
  
  .logo-name{
  }
  .cart{
    margin-left: 7px!important;
   }

   .account-btn {
    padding: 5px 10px;
  }
 }

@media screen and (max-width: 576px) {
  .search{
   display: none;
  }

  .dropdown{
    padding-left: 0!important;
  }

  .user-div{
    margin: 0 !important;
    align-items: center;
  }

  .cart{
    margin-left: 2px!important;
   }

   .account-btn {
    padding: 3px 10px;
  }
  
 }

 @media screen and (max-width: 450px) {
  
  .logo-name{
    font-size: 16px!important;
    margin-left: -11px;
  }
  .acct-name-p{
    font-size: 14px !important;
  }

  .img-fluid{
    width: 53%!important;
  }

  .cart-text{
    font-size: 14px !important;
  }

  .dropdown{
    margin-left: -42px;
    padding-left: 0!important;
    padding-right: 0!important;
  }  
 }

.search-input {
  /* width: 52%; */
  font-family: inherit;
  color: inherit;
  margin-right: -50px;
  background-color: #f6f6f6;
  transition: all 0.3s;

  &:focus {
    width: 100%;
  }
}

.search-btn {
  align-self: center;

  &:active {
    transform: translateY(2px);
  }

  &:focus {
    border: transparent;
  }
}

.cart{
  margin-top: 11px;
  margin-left: 40px;
}

.cart-text{
margin-left: 13px;
font-size: 17px;
margin-left: 6px!important;
    font-weight: 500;
}

.custom-badge {
  left: 38%; /* Adjust as needed to override Bootstrap's .start-100 */
  transform: translate(-50%, -50%);
  padding: 3px !important
}