<div class="sk-circle" *ngIf="spinner">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>

<div class="fluid-container w-100">
  <div class=" d-flex logo-container pt-2 mb-4 ps-4 position-fixed
  ">
    <div class="logo-sym d-flex" routerLink="/products" style="cursor: pointer;">
      <div class="img-logo me-3 d-flex align-items-center">
        <img src="../assets/img/logo.png" class="img-fluid" alt="logo" />
      </div>
      <div class="col-3 d-flex align-items-center">
        <p class="mb-0">Anneth</p>
      </div>
    </div>
    <form action="#" class=" d-flex search">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Search Products"
      />
      <button type="button" class="btn align-items-center search-btn">
        <svg
          width="28"
          height="28"
          xmlns="http://www.w3.org/2000/svg"
          style="fill: #5b5858"
        >
          <use xlink:href="../assets/icons/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    
  </div>
  <pm-shell-component></pm-shell-component>
</div>
